div.gallery {
    margin: 35px;
    border: 5px solid #ccc;
    float: right;
    width: 350px;
  }
  
  div.gallery:hover {
    border: 5px solid #501de8;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 30px;
    text-align: left;
  }
  div.gallery2{
    margin:35px
    margin: 35px;
    border: 5px solid #501de8;
    
    float: right;
    width: 350px;
  }
  
  div.gallery2:hover {
    border:5px solid ;
  }
  
  div.gallery2 img {
    width: 80%;
    height: 80%;
    
  }
  
  div.desc {
    padding: 30px;
    text-align: center;
  }
  
  h1{
    background-color: rgb(60, 56, 110);
  }
  #nav{
    background: #501de8;
  }
  #text-center text-lg-start bg-light text-muted{
    background-color: blue;
  }